@page "/editarmedico"
@using Microsoft.EntityFrameworkCore
@inject DialogService DialogService
@inject NotificationService NotificationService

<PageTitle>Edicion de medicos</PageTitle>

<h2>Lista de médicos</h2>


<RadzenRow class="rz-mb-3" Gap="1rem" Style="flex-wrap: wrap;">
    <RadzenColumn Size="12" SizeMd="4" class="rz-p-2 rz-p-md-4">
        <RadzenStack Gap="0.5rem">
            <RadzenListBox @bind-Value=@medicoSeleccionado Data=@medicos TextProperty="NombreMedico" ValueProperty="NombreMedico"
                           Style="width: 100%; max-width: 400px; height:200px"
                           InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select company" }})" />
            <RadzenButton Click=@AgregarMedico Icon="add_circle" Text="Nuevo médico" ButtonStyle="ButtonStyle.Primary" Width="100%" />
        </RadzenStack>
    </RadzenColumn>

    <RadzenColumn Size="12" SizeMd="8" class="rz-p-2 rz-p-md-8">
        <RadzenStack Gap="1rem">
            <RadzenDataGrid @ref="ordersGrid" AllowFiltering="false" AllowPaging="true" PageSize="5" AllowSorting="true"
                            Data="@diasYhorarios" TItem="Medico" ColumnWidth="200px" Style="width: 100%; max-width: 800px;">
                <Columns>
                    <RadzenDataGridColumn Property="NombreMedico" Title="Médico" Width="130px">
                        <EditTemplate Context="med">
                            <RadzenTextBox @bind-Value="med.NombreMedico" Style="width: 100%;" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Property="diaTrabajo" Title="Día" Width="90px">
                        <EditTemplate Context="med">
                            <RadzenTextBox @bind-Value="med.diaTrabajo" Style="width: 100%;" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Property="horaInicioTrabajo" Title="Inicio" Width="60px">
                        <EditTemplate Context="med">
                            <RadzenTextBox @bind-Value="med.horaInicioTrabajo" Style="width: 100%;" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Property="horaFinTrabajo" Title="Fin" Width="60px">
                        <EditTemplate Context="med">
                            <RadzenTextBox @bind-Value="med.horaFinTrabajo" Style="width: 100%;" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Property="duracionTurno" Title="Duración" Width="100px">
                        <EditTemplate Context="med">
                            <RadzenNumeric TValue="int" @bind-Value="med.duracionTurno" Style="width: 100%;" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Context="med" Filterable="false" Sortable="false" TextAlign="TextAlign.Left" Width="80px">
                        <Template Context="med">
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Click="@(args => DeleteRow(med))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            <RadzenStack  Gap="1rem" JustifyContent="JustifyContent.Center">
                <RadzenButton Click=@ReloadGrid Text="Ver horarios" Icon="visibility" ButtonStyle="ButtonStyle.Info" />
                <RadzenButton Click=@InsertRow Text="Agregar nuevo horario" Icon="add" ButtonStyle="ButtonStyle.Primary" />
            </RadzenStack>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>



@code
{
    string medicoSeleccionado = "";    

    RadzenDataGrid<Medico> ordersGrid;

    IEnumerable<Medico> medicos;
    List<Medico> listaMedicos = new List<Medico>();


    IEnumerable<Medico> diasYhorarios;
    List<Medico> listaHorarios = new List<Medico>();

    Medico nuevoHorarioMedico = new Medico();

    DateTime horaIni = DateTime.Today.AddHours(6);
    DateTime horaFin = DateTime.Today.AddHours(23);


    protected override async Task OnInitializedAsync()
    {
        string query = "SELECT idMedicos,nombreMedico,diaTrabajo,horaInicioTrabajo,horaFinTrabajo,duracionTurno FROM `turnos-medicos`.medicos;";
        listaMedicos = Base.SelectAMedicos(query);

        medicos = listaMedicos
                            .Select(m => m.NombreMedico) // Extrae solo los nombres
                            .Distinct() // Elimina duplicados
                            .Select(nombre => new Medico { NombreMedico = nombre }) // Crea nuevos objetos Medico con nombres únicos
                            .ToList();
    }
   

    async Task DeleteRow(Medico med)
    {
        var result = await DialogService.OpenAsync("Atención", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>Está a punto de cancelar el horario de : <b>@med.NombreMedico </b></p>
            <p>Dia:  <b>@med.diaTrabajo </b></p>
            <p>Hora inicio:  <b>@med.horaInicioTrabajo </b></p>
            <p>Hora fin:  <b>@med.horaFinTrabajo </b></p>
            <p><b>¿Desea continuar? </b></p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">

                <RadzenButton Text="Confirmar" Click="@(args => CancelarTurno(med.Id))" />
                    <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }


    async Task AgregarMedico()
    {
        List<string> dias = new List<string>() { "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo" };
        IEnumerable<string> listaDias = dias;

        var result = await DialogService.OpenAsync("Nuevo médico", ds =>
    @<RadzenStack Gap="1.5rem" Style="padding: 1.5rem; max-width: 600px;">
        <p style="font-size: 1.2rem; font-weight: bold;">Agregar un nuevo médico</p>

        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Nombre del médico" Style="width: 40%; font-weight: bold;" />
                <RadzenTextBox @bind-Value=medicoSeleccionado Style="width: 60%;" />
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Día de trabajo" Style="width: 40%; font-weight: bold;" />
                <RadzenDropDown @bind-Value="nuevoHorarioMedico.diaTrabajo" Placeholder="Seleccionar un día" Data="@listaDias" Style="width: 60%;">
                    <RadzenRequiredValidator Text="Elige un día" />
                </RadzenDropDown>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Hora inicio" Style="width: 40%; font-weight: bold;" />
                <RadzenDatePicker @bind-Value=@horaIni ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Style="width: 60%;" />
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Hora fin" Style="width: 40%; font-weight: bold;" />
                <RadzenDatePicker @bind-Value=@horaFin ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Style="width: 60%;" />
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Duración del turno" Style="width: 40%; font-weight: bold;" />
                <RadzenNumeric ShowUpDown="false" TValue="int" @bind-Value=@nuevoHorarioMedico.duracionTurno Placeholder="Duración" Style="width: 60%;" />
            </RadzenRow>

            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Gap="1rem">
                <RadzenButton Text="Confirmar" Click=InsertABase ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
        );
    }



    async Task InsertRow()
    {
        if (!string.IsNullOrEmpty(medicoSeleccionado))
        {
            List<string> dias = new List<string>() { "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo" };
            IEnumerable<string> listaDias = dias;

            var result = await DialogService.OpenAsync("Nuevo horario", ds =>
    @<RadzenStack Gap="1.5rem" Style="padding: 1.5rem; max-width: 600px;">
        <p style="font-size: 1.2rem; font-weight: bold;">Crear nuevo horario para: <b>@medicoSeleccionado</b></p>

        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Día de trabajo" Style="width: 40%; font-weight: bold;" />
                <RadzenDropDown @bind-Value="nuevoHorarioMedico.diaTrabajo" Placeholder="Seleccionar un día" Data="@listaDias" Style="width: 60%;">
                    <RadzenRequiredValidator Text="Elige un día" />
                </RadzenDropDown>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Hora inicio" Style="width: 40%; font-weight: bold;" />
                <RadzenDatePicker @bind-Value=@horaIni ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Style="width: 60%;" />
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Hora fin" Style="width: 40%; font-weight: bold;" />
                <RadzenDatePicker @bind-Value=@horaFin ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Style="width: 60%;" />
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenLabel Text="Duración del turno" Style="width: 40%; font-weight: bold;" />
                <RadzenNumeric ShowUpDown="false" TValue="int" @bind-Value=@nuevoHorarioMedico.duracionTurno Placeholder="Duración" Style="width: 60%;" />
            </RadzenRow>

            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Gap="1rem">
                <RadzenButton Text="Confirmar" Click=InsertABase ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
        );
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Atención", Detail = "Selecciona un médico" });
        }
    }


    async Task ReloadGrid()
    {
        string query = "";

        if(medicoSeleccionado=="")
        {
            query = "SELECT idMedicos,nombreMedico,diaTrabajo,horaInicioTrabajo,horaFinTrabajo,duracionTurno FROM `turnos-medicos`.medicos;";      
        }
        else
        {
            query = "SELECT idMedicos,nombreMedico,diaTrabajo,horaInicioTrabajo,horaFinTrabajo,duracionTurno FROM `turnos-medicos`.medicos WHERE nombreMedico='"+medicoSeleccionado+"';";           
        }        
        diasYhorarios = Base.SelectAMedicos(query);
        await ordersGrid.Reload();

    }
    void InsertABase()
    {
        if (nuevoHorarioMedico.diaTrabajo!="" && nuevoHorarioMedico.duracionTurno!=0)
        {
            string horaInicio = horaIni.ToString("HH:mm");
            string horaFinal = horaFin.ToString("HH:mm");

            string query = "INSERT INTO `turnos-medicos`.`medicos` (`nombreMedico`,`diaTrabajo`,`horaInicioTrabajo`,`horaFinTrabajo`,`duracionTurno`)VALUES('" + medicoSeleccionado + "','" + nuevoHorarioMedico.diaTrabajo + "','" + horaInicio + "','" + horaFinal + "'," + nuevoHorarioMedico.duracionTurno + ");";
            int insertarNuevohorario = Base.ConexionBase(query);

            if (insertarNuevohorario == 0)
            {
                DialogService.Close(); // Cierra el diálogo
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Horario agregado" });
                OnInitializedAsync();
                ReloadGrid();
            }
            else
            {
                Console.WriteLine("error");
            }
        }
        else
        {                    
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Atencion", Detail = "Completa todos los campos" });
        }

    }

    void CancelarTurno(int idABorrar)
    {
        string query = "DELETE FROM `turnos-medicos`.`medicos` WHERE idMedicos="+idABorrar+";";
        int borrarFila = Base.ConexionBase(query);
        if (borrarFila == 0)
        {
            DialogService.Close(); // Cierra el diálogo
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Horario borrado" });
            OnInitializedAsync();
            ReloadGrid();
        }
        else
        {
            Console.WriteLine("error borrando el horario");
        }
    }
}

     